<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel panel-heading text-center">
      <strong>SignUp</strong>
    </div>
    <div class="panel-body">
      <form #signUpForm="ngForm" (ngSubmit)="update(userObj)">
        <!-- start name section -->
        <div class="col-md-12 form-group">
          <label class="col-md-3 text-right">Name</label>
          <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="user.name" autofocus required ngControl="name" #name="ngForm">
          </div>
        </div>
        <!-- End name section -->

        <!-- start email section -->
        <div class="col-md-12 form-group">
          <label class="col-md-3 text-right">Email</label>
          <div class="col-md-6">
            <input type="email" class="form-control" [(ngModel)]="user.email" required ngControl="email" #email="ngForm">
            <!-- <div [hidden]="email.valid" class="alert alert-danger">
              Email is required
            </div> -->
          </div>
        </div>
        <!-- End email section -->

        <!-- start contact section -->
        <div class="col-md-12 form-group">
          <label class="col-md-3 text-right">contact</label>
          <div class="col-md-6">
            <input type="twxt" class="form-control" maxlength="10" [(ngModel)]="user.contact" required ngControl="contact" #contact="ngForm">
          </div>
        </div>
        <!-- End contact section -->

        <!-- Start City section -->
        <div class="col-md-12 form-group">
          <label class="col-md-3 text-right">City</label>
          <div class="col-md-6">
            {{isChecked}}
            <select class="form-control" [(ngModel)]="user.city" required ngControl="city" #city="ngForm">
              <option value="">--Select City--</option>
              <option *ngFor="#city of authservice.userCity">{{city}}</option>
            </select>
          </div>
        </div>
        <!-- End City section -->
        <div class="col-md-12 text-center">
          <button type="submit"  [disabled]="!signUpForm.form.valid" class="btn btn-info" (click)="save(user)" >Save</button>
          <button type="submit" class="btn btn-danger" (click)="clear()">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
<item-list [todo]="todo"></item-list>
