<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel panel-heading text-center"><b>Login</b></div>
    <div class="panel-body">
      <form class="col-md-12" #heroForm="ngForm">

        <!-- start email section -->
        <div class="col-md-12 form-group">
          <label class="col-md-4 text-right">Email</label>
          <div class="col-md-8" [ngClass]="{'has-error':!email.valid,'has-success':email.valid}">
            <input type="email" [(ngModel)]="login.email" class="form-control" ngControl="email" #email="ngForm" required>
            <div [hidden]="email.valid" class="alert alert-danger">
              Email is required
            </div>
          </div>
        </div>
        <!-- End email section -->

        <!-- start password section -->
        <div class="col-md-12 form-group">
          <label class="col-md-4 text-right">Password</label>
          <div class="col-md-8" [ngClass]="{'has-error':!password.valid,'has-success':password.valid}">
            <input type="password" [(ngModel)]="login.password" class="form-control" ngControl="password" #password="ngForm" required>
            <div [hidden]="password.valid" class="alert alert-danger">
              Password is required
            </div>
          </div>
        </div>
        <!-- End password section -->
        <div class="col-md-12 text-center">
          <button class="btn btn-info" [disabled]="!heroForm.form.valid" (click)="validate(login)">Login</button>
        </div>
      </form>
    </div>
  </div>
</div><item-list></item-list>
